@import 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*,::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: $color-main;
    font-family: 'Lato', sans-serif;
}

header{
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 70px;
        background-color: $color-main;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        position: fixed;
        z-index: 9999;
        padding: 0 10px;
        .logo{
            text-transform: uppercase;
            font-weight: 600;
        }
        ul{
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            li{
                margin: 0 10px;
                a{
                    text-decoration: none;
                    color: $color-alt;
                }
            }
        }
    }
}

// mise en place du main de la page accueil
.accueil{
    .banner{
        height: 500px;
        background: url(img/banner.jpg);
        background-position: center;
        background-size: cover;
    }

    .restaurant-txt{
        height: auto;
        width: 70%;
        text-align: justify;
        margin: 100px auto;
        h3{
            margin-bottom: 10px;
        }
    }

    .parallax{
        width: 100%;
        height: 300px;
        background: url(img/parallax.jpg);
        background-size: cover;
        background-attachment: fixed;
    }

    .plats-txt{
        @extend .restaurant-txt;
    }

    .section-plats{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            img{
                height: 200px;
                width: 300px;
                padding: 5px;
            }
            img:hover{
                opacity: .8;
            }
        }
    }

    .final-txt{
        @extend .restaurant-txt;
    }
}

footer{
    height: 50px;
    width: 100%;
    background-color: $color-main;
    color: $color-alt;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and(max-width:500px){
    .logo{
        display: none;
    }

    ul{
        justify-content: center;
        width: 100%;        /* spécifier 100% de la largeur car il n'y a plus le logo et le ul doit prendre 100% de la nav */
    }
}

@media screen and(min-width:900px){
    .section-plats{
        .container{
            max-width: 800px;
        }
    }
}

@media screen and(min-width:1517px){
    .section-plats{
        .container{
            max-width: 1500px;
        }
    }
}


// mise en place du main de la page formumaire
.footerForm{
    position: fixed;
    bottom: 0;
}

.formulaire{
    // mise en forme du background
    background-image: linear-gradient(to bottom right,rgba(246, 240, 228, .6) , rgba(246, 240, 228, .6)), url(img/banner.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    
    // pour centrer l'élément enfant : carte
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .carte{
        position: relative;
        display: flex;
        justify-content: center;
        // align-items: center;
        padding: 0 15px;

        background-color: $color-alt;
        
        height: 700px;
        width: 300px;
        section{
            
            width: 100%;

            h1{
                color: rgb(175, 154, 95);
                font-family: 'Satisfy', cursive;
                text-align: center;
                padding: 15px 0 30px;
            }
    
            .separation{
                display: flex;
                justify-content: center;
                width: 100%;
    
                .ligne{
                    position: relative;
                    top: 20px;
                    height: 1px;
                    width: 90%;
                    background-color: $color-main;
                }
                
                .logo{
                    // height: 50px;
                    // width: 350px;
                    
                    // border: 2px solid rgb(175, 154, 95);
                    // border-radius: 50%;

                    width: 0;
                    height: 0;
                    border: 60px solid transparent;
                    border-bottom: 35px solid green;
                    position: relative;
                    top: -75px;
                    display: flex;
                    justify-content: center;

                    

                    display: flex;
                    justify-content: center;
                    // align-items: center;
                    
                }

                .logo:after {
                    width: 0;
                    height: 0;
                    content: "";
                    position: absolute;
                    left: -60px;
                    top: 35px;
                    border: 60px solid transparent;
                    border-top: 35px solid green;
                }

                p{
                    position: absolute;
                    text-align: center;
                    top: 90px;
                    padding: 0 40px;
                    color: #fff;
                    font-family: "Lato", sans-serif;
                    font-size: .8rem;
                }

            }

            .phrase{
                color: rgb(175, 154, 95);
            }

            #form{
                color: rgb(175, 154, 95);
            }
                
        }
    
            // form{
            //     background-color: $color-main;
                
            //     height: 40vh;
            //     width: 30vw;
            // }
    }
        

}
    
